<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
        backupGlobals="false"
        backupStaticAttributes="false"
        beStrictAboutTestsThatDoNotTestAnything="false"
        bootstrap="vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        verbose="true"
>
    <testsuites>
        <testsuite name="单元测试">
            <directory suffix=".php">./tests/Units/</directory>
        </testsuite>
        <testsuite name="功能测试">
            <directory suffix=".php">./tests/Features/</directory>
        </testsuite>
    </testsuites>
</phpunit>
